
/* <!-- Global Styles for sheets --> */
/* All the variables for the different colours in the site */
:root{
    /* This colour is for the website background */
    --pageBackground: rgba(22,18,15, 0.998);

    /* This colour is for the header and footer */
    --topBottomBackground: rgba(250, 250, 250, .05);

    /* This is the colour for majority of the fonts */
    --generalFontColour: rgb(250, 250, 250);

    /* This is the Nav bar Hover colour */
    --hoverNavBackground: rgba(119, 119, 119, 0.6);

    /* This is the Nav Bar underline */
    --navBarUnderline: rgb(119, 119, 119);

    /* This is the colour for the Gym Slogan */
    --gymSlogan: rgba(255, 255, 255, 0.8);

    /* This is the colour for the glow of 'Join Us' on the index */
    --joinUsGlow: rgba(50, 226, 241, 0.9);

    /* This is the Font colour of the Join us on the index sheet */
    --joinUsFont: rgb(255, 77, 0);

    /* This is the colour when the Join-us or Social links are hovered */
    --joinUsHover:rgb(255, 0, 0);

    /* This is for any transparent join-us text */
    --joinUsTransparent: rgba(255, 0, 0, 0.75);

    /* This is the backfroudn colour for most of the test boxes */
    --textBackground:rgba(199, 199, 199, .1);

    /* This is the colour for the carousel txt above the images */
    --carouselBackground: rgba(199, 199, 199, .6);
    --carouselFont: rgb(0, 0, 0);

    /* This is the colour for the txt box borders */
    --textBoxBorder: rgba(250, 250, 250, .1);

    /* This is the Membership background colour */
    --membershipBackground: rgba(199, 199, 199, .5);

    /* This is the join-us background when hovered */
    --membershipJoinHover: rgba(250, 250, 250, 0.5);

    /* This is the modal background colour */
    --modalBackground: rgb(200, 200, 200);

}


* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

body {
    font-family: Calibri, sans-serif;
    color: var(--generalFontColour);
    background-color: var(--pageBackground);
}

/* <!-- Header --> */

header{
    background-color: var(--topBottomBackground);
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav > a{
    text-decoration: none;
}

a > h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--generalFontColour);
    line-height: 1px;
}

#company-name{
    font-size: 140%;
    margin: 20px 0 10px 0;
    font-weight: 400;
}

#muscle-valley-logo{
    width: 55px;
    height: auto;
    color: var(--generalFontColour);
    margin-top: -10px;
}

#menu{
    display: flex;
    justify-content: space-evenly;
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 2px;
}

nav > ul {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

#menu li{
    margin: 10px 15px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    background-color:var(--hoverNavBackground);
    border-bottom: 1px solid var(--navBarUnderline);
}

.active-sheet{
    border-bottom: 1px solid var(--navBarUnderline);
}

 /* <!-- Home Hero Image --> */

.home-hero-outer{
    position: relative;
}

.gym-slogan{
    position: absolute;  
    left: 50%;
    top: 10%;       
    transform: translate(-50%, -50%);

    font-size: 15px;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--gymSlogan);
}

.home-hero-image{
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 1;
}

@keyframes glow {
    to {
        border-color: var(--joinUsGlow);
        -webkit-box-shadow: 0 0 10px var(--joinUsGlow);
        -moz-box-shadow: 0 0 10px var(--joinUsGlow);
        box-shadow: 0 0 10px var(--joinUsGlow);
    }
}

#join-us{
    position: absolute;  
    left: 50%;
    top: 90%;       
    transform: translate(-50%, -50%);
    padding: 0 2%;

    animation: glow 3.0s infinite alternate;  
    -webkit-transition: border 3.0s linear, box-shadow 3.0s linear;
    -moz-transition: border 3.0s linear, box-shadow 3.0s linear;
    transition: border 3.0s linear, box-shadow 3.0s linear;
}

a #join-us{
    text-decoration: none;
    color: var(--joinUsFont);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#join-us:hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}

a #join-us:hover{
    color: 	var(--joinUsHover);
}

 /* <!-- Home Carousel --> */

 .carousel-header{
    background-color: var(--textBackground);
    color: var(--generalFontColour);
    font-size: 110%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    padding: 10px 0;
}

.carousel-item{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-text{
    letter-spacing: 2px;
    background-color: var(--carouselBackground);
    color: var(--carouselFont);
}

 /* <!-- About-Us sheet --> */

#about-outer-hero{
    height: 100%;
}

.video-viewport{
    height: 80%;
}

iframe{
    width: 100%;
    height: 100%;
}

.about-us-description, .about-us-services{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.about-us-text{
    padding: 5px;
    margin-bottom: 10px;
    border: var(--textBoxBorder) 1px solid;
    border-radius: 10px;
    background-color: var(--textBackground);
    font-size: 100%;
    text-align: center;
    padding: 2.5% ;

}

.about-us-coaching{
    width: 100%;
    height: auto;
    border-radius: 2%;
}

.about-us-group{
    width: 100%;
    height: auto;
    border-radius: 2%;
    margin-bottom: 10px;
}

.services{
    padding: 5px;
    border: var(--textBoxBorder) 1px solid;
    border-radius: 10px;
    background-color: var(--textBackground);
    font-size: 100%;
    text-align: center;
    padding: 2.5% 0;
}


 /* <!-- Join-us Gym Membership Options --> */

.join-us-hero{
    background: url(../images/danielle-cerullo-CQfNt66ttZM-unsplash.jpg)
                no-repeat
                center
                center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.membership-levels{
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: var(--textBoxBorder) 1px solid;
    border-radius: 10px;
    background-color: var(--membershipBackground);
    color: var(--carouselFont);
}

.membership-levels h4{
    text-decoration: underline;
    font-weight: 700;
}

.membership-price{
    font-size: 130%;
    font-weight: 800;
}

.join-us-button{
    padding: 0 10px;
    font-size: 140%;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--joinUsTransparent);
    background-color: transparent;
}

.join-us-button:hover{
    background-color: var(--membershipJoinHover);
}

 /* <!-- Model Body --> */

 .modal-content{
     color: var(--carouselFont);
     background-color: var(--modalBackground);
 }

.radio-buttons{
    display: flex;
    justify-content: space-evenly;
}

 /* <!-- Home Testimonials -->S */

#testimonial-inner{
    display: flex;
    font-size: 13px;
    flex-direction: column;
    text-align: center;
    margin: 5%;
}

div.testimonial > p{
    padding: 5px;
    border: var(--textBoxBorder) 1px solid;
    border-radius: 10px;
    background-color: var(--textBackground);
}

 /* <!-- Footers --> */

footer{
    padding-top: 15px;
    background-color: var(--topBottomBackground);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.testimonial-person{
    font-weight: 600;
    font-style: italic;
}

.gym-location{
    background: 
        url(../images/musclevalleymaplocation.png)
        no-repeat
        center center
    ;  
    width: 340px;
    height: 240px;
    margin-bottom: 10px;
}

.contact-details, .opening-times{
    font-size: 80%;
    text-align: center;
    padding: 2.5% 0 2.5% 0;
}

.bank-holiday-exclude{
    margin-top: 5px;
    font-size: 80%;
    font-style: italic;
}

.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.social-media li{
    list-style-type: none;
    margin: 10px 15px;
}

.social-media i{
    font-size: 160%;
    color: var(--navBarUnderline);
}

.social-media i:hover{
    color: var(--joinUsHover);
}

@media screen and (max-width:329px){
    #muscle-valley-logo{
        display: none;
    }
}

@media screen and (min-width:600px){
    
    .gym-slogan{   
        font-size: 1.5em;
    }

    .carousel-header{
        font-size: 1.5em;
    }

    .carousel-caption{
        right: 35%;
        left: 35%;
    }

    .testimonial{
        font-size: 1.5em;
    }

    nav {
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
    }    
}

@media screen and (min-width:900px){
    
    .gym-slogan{   
        font-size: 2em;
    }

    .carousel-header{
        font-size: 2em;
    }

    .about-us-description{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us-text{
        width: 60%;
        margin-bottom: 0;
        font-size: 110%;
    }

    .about-us-coaching{
        width: 39.5%;
        object-fit: cover;
    }

    .about-us-services{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us-group{
        width: 39.5%;
        object-fit: cover;
        margin-bottom: 0;
    }

    .services{
        width: 60%;
        margin-bottom: 0;
        font-size: 110%;
    }
    
    .membership-options{
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
    }

    .membership-levels{
        width: 30%;
        text-align: center;    
    }    
}

@media screen and (min-width:900px) and (min-height: 400px){
    .full-viewport{
        height: 100%;
    }
}

@media screen and (min-width:1350px){
    
    .gym-slogan{   
        font-size: 4em;
    }

    #join-us{
        font-size: 3.5em;
    }

    .carousel-header{
        font-size: 3.5em;
    }
    .carousel-text{
        font-size: 3.5em;
    }

    .testimonial{
        margin: 10px;
    }
}

@media screen and (min-width: 1650px){

    .about-us-text{
        font-size: 200%;
    }

    .services h4{
        font-size: 200%;
    }
    .services{
        font-size: 200%;
    }
}