* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Calibri, sans-serif;
    color: #777777;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav > a{
    text-decoration: none;
}

a > h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555555;
}

#company-name{
    font-size: 140%;
}

#muscle-valley-logo{
    width: 55px;
    height: auto;
}

#menu{
    display: flex;
    justify-content: space-evenly;
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 2px;
}

#menu li{
    margin: 10px 15px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}

footer{
    height: 150px;
}

.social-media{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.social-media li{
    list-style-type: none;
}

.social-media i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}